name: Run pytest 

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        conda install --file requirements.txt
        conda install -c omnia openmm 
        conda init 
        echo $PATH
        ls -la ~ 
        pip install -e .
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
